.input {
  @apply w-full rounded border  border-slate-300 py-3 px-[14px] text-base text-slate-900 shadow-sm outline-none placeholder:text-slate-600 focus:border-slate-300 focus:outline-none focus-visible:shadow-none dark:border-[#1e2021] dark:bg-[#1e2021] dark:text-slate-300 placeholder:dark:text-slate-500;
}

.form-button {
  @apply w-full rounded border p-3 uppercase text-white transition duration-300 hover:bg-[#9bf7e8] hover:bg-opacity-90 hover:text-slate-800 dark:border-[#5d7b70] dark:bg-[#e8e8e8] dark:text-slate-800 dark:hover:border-[#243665] dark:hover:bg-[#243665] dark:hover:text-slate-50;
}
