@tailwind base;
html {
  scroll-behavior: smooth;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./opening.css";
@import "./hero.css";
@import "./hamburger-button.css";
@import "./mobile-menu.css";
@import "./projects.css";
@import "./contact.css";

@layer base {
  h1 {
    @apply mt-10 mb-0 pb-10 text-center text-4xl uppercase transition-all duration-700 md:pt-14 md:text-6xl;
  }
}
