/* transition */
.mobile-menu {
  @apply absolute top-0 bottom-0 left-0 flex min-h-screen w-full flex-col space-y-5 self-end bg-slate-300/80 py-1 pt-40 pl-12 text-lg uppercase text-primary dark:bg-slate-700/80 md:hidden;
  transition: all 0.5s;
}

.opening {
  transform: translateX(0px);
  opacity: 1;
}
.closing {
  transform: translateX(300px);
  opacity: 0;
}
